In [9]:
import pandas as pd
s=pd.Series([1, 2, 3, 4, 5])
s.index

RangeIndex(start=0, stop=5, step=1)

In [10]:
s.values

array([1, 2, 3, 4, 5])

In [11]:
zip_codes = {'100':'中正區','103':'大同區','104':'中山區','105':'松山區',
             '106':'大安區','108':'萬華區','110':'信義區','111':'士林區',}
a=pd.Series(zip_codes)
a

100    中正區
103    大同區
104    中山區
105    松山區
106    大安區
108    萬華區
110    信義區
111    士林區
dtype: object

In [14]:
print(a[[2,3]])

104    中山區
105    松山區
dtype: object

C:\Users\phil_\AppData\Local\Temp\ipykernel_632\2540665606.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(a[[2,3]])

In [17]:
taiwan ={'city':['台北市','新北市','桃園市','台中市','台南市','高雄市'],
        'pop':[2631083, 4024539, 2255753, 2816741, 1878845, 2773401],
        'area':[271.7997, 2052.5667, 1220.9540, 2214.8968, 2191.6531, 2951.8524],}
s=pd.DataFrame(taiwan)
s

  city      pop       area
0  台北市  2631083   271.7997
1  新北市  4024539  2052.5667
2  桃園市  2255753  1220.9540
3  台中市  2816741  2214.8968
4  台南市  1878845  2191.6531
5  高雄市  2773401  2951.8524

In [20]:
print(s)

  city      pop       area
0  台北市  2631083   271.7997
1  新北市  4024539  2052.5667
2  桃園市  2255753  1220.9540
3  台中市  2816741  2214.8968
4  台南市  1878845  2191.6531
5  高雄市  2773401  2951.8524

In [25]:
bigsix = pd.DataFrame(taiwan, columns = ['pop','city','area'])
bigsix

       pop city       area
0  2631083  台北市   271.7997
1  4024539  新北市  2052.5667
2  2255753  桃園市  1220.9540
3  2816741  台中市  2214.8968
4  1878845  台南市  2191.6531
5  2773401  高雄市  2951.8524

In [26]:
bigsix .loc[2]

pop      2255753
city         桃園市
area    1220.954
Name: 2, dtype: object

In [27]:
bigsix.iloc[2]

pop      2255753
city         桃園市
area    1220.954
Name: 2, dtype: object

In [28]:
df=pd.DataFrame({'姓名':['林小明','陳聰明','黃美麗','張曉娟','廖小城'],
                  '國文':[65,92,79,83,70],
                  '英文':[90,72,76,93,56],
                  '數學':[81,85,91,89,77],
                  '社會':[79,53,47,94,80]})

In [29]:
print(df.index)

RangeIndex(start=0, stop=5, step=1)

In [30]:
print(df.columns)

Index(['姓名', '國文', '英文', '數學', '社會'], dtype='object')

In [31]:
print(df.values)

[['林小明' 65 90 81 79]
 ['陳聰明' 92 72 85 53]
 ['黃美麗' 79 76 91 47]
 ['張曉娟' 83 93 89 94]
 ['廖小城' 70 56 77 80]]

In [32]:
print(df.values[0])

['林小明' 65 90 81 79]

In [34]:
for row in df.values:
    print(row)

['林小明' 65 90 81 79]
['陳聰明' 92 72 85 53]
['黃美麗' 79 76 91 47]
['張曉娟' 83 93 89 94]
['廖小城' 70 56 77 80]

In [35]:
print(df['國文'])

0    65
1    92
2    79
3    83
4    70
Name: 國文, dtype: int64

In [36]:
print(df.values[0][1])

65

In [56]:
print(df.iloc[0,1])

65

In [43]:
print(df.loc[0,'國文'])

65

In [49]:
df1=df.set_index('姓名')

In [50]:
df1.index

Index(['林小明', '陳聰明', '黃美麗', '張曉娟', '廖小城'], dtype='object', name='姓名')

In [51]:
df1['國文']

姓名
林小明    65
陳聰明    92
黃美麗    79
張曉娟    83
廖小城    70
Name: 國文, dtype: int64

In [52]:
df['國文']

0    65
1    92
2    79
3    83
4    70
Name: 國文, dtype: int64

In [53]:
df1[['國文','英文']]

     國文  英文
姓名
林小明  65  90
陳聰明  92  72
黃美麗  79  76
張曉娟  83  93
廖小城  70  56

In [54]:
df1.iloc[0]

國文    65
英文    90
數學    81
社會    79
Name: 林小明, dtype: int64

In [57]:
df1.loc['林小明']

國文    65
英文    90
數學    81
社會    79
Name: 林小明, dtype: int64

In [58]:
df[df['姓名']=='陳聰明']

    姓名  國文  英文  數學  社會
1  陳聰明  92  72  85  53

In [62]:
df[df['英文']>80]

    姓名  國文  英文  數學  社會
0  林小明  65  90  81  79
3  張曉娟  83  93  89  94

In [65]:
df1.value_counts

<bound method DataFrame.value_counts of      國文  英文  數學  社會
姓名
林小明  65  90  81  79
陳聰明  92  72  85  53
黃美麗  79  76  91  47
張曉娟  83  93  89  94
廖小城  70  56  77  80>